<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<h1>Personajes de Harry Potter</h1>
<ul>
  <% @characters.each do |character| %>
    <li><strong><%= character.name %></strong> - <%= character.location %>, Casa: <%= character.house %></li>
  <% end %>
</ul>