<h1 class="text-center my-4">Personajes de Harry Potter</h1>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">House</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td><strong><%= character.name %></strong></td>
          <td><small class="text-muted"><%= character.location %></small></td>
          <td><span><%= character.house %></span></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

